<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Executable_Classes.Add_List</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Open_Hoses_Schedule</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Add_Listing_Button</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Add_Zipcode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Create_List</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Add_SubArea</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Add_calendarDate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Add_City</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Verify_List</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Add_ClientEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Add_StreesAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Add_Price</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GetData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Add_IRESMLS</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Search_List</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Add_REColoradoMLS</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Executable_Classes.Logout_Application</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Close_Browser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Logout</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Executable_Classes.Login_Application</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>GetData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Enter_Password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Enter_UserName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Open_URL</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>OpenBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Click_GoogleButton</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
