<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8ac93">  <td>18/12/23 16:25:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login_Application.OpenBrowser(java.lang.String)[pri:1, instance:Executable_Classes.Login_Application@2bb34e41]">OpenBrowser</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="e8ac93">  <td>18/12/23 16:25:21</td>   <td>7876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login_Application.GetData()[pri:2, instance:Executable_Classes.Login_Application@2bb34e41]">GetData</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="e8ac93">  <td>18/12/23 16:25:26</td>   <td>13042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login_Application.Open_URL()[pri:3, instance:Executable_Classes.Login_Application@2bb34e41]">Open_URL</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="e8ac93">  <td>18/12/23 16:25:34</td>   <td>21072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login_Application.Click_GoogleButton()[pri:4, instance:Executable_Classes.Login_Application@2bb34e41]">Click_GoogleButton</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="e8ac93">  <td>18/12/23 16:25:44</td>   <td>30695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login_Application.Enter_UserName()[pri:5, instance:Executable_Classes.Login_Application@2bb34e41]">Enter_UserName</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="e8ac93">  <td>18/12/23 16:25:55</td>   <td>42256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login_Application.Enter_Password()[pri:6, instance:Executable_Classes.Login_Application@2bb34e41]">Enter_Password</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a477bf">  <td>18/12/23 16:26:32</td>   <td>78399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_List.GetData()[pri:7, instance:Executable_Classes.Add_List@1a996ff]">GetData</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a477bf">  <td>18/12/23 16:26:36</td>   <td>82894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_List.Open_Hoses_Schedule()[pri:8, instance:Executable_Classes.Add_List@1a996ff]">Open_Hoses_Schedule</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a477bf">  <td>18/12/23 16:26:58</td>   <td>105299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_List.Add_Listing_Button()[pri:9, instance:Executable_Classes.Add_List@1a996ff]">Add_Listing_Button</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a477bf">  <td>18/12/23 16:27:03</td>   <td>109695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_List.Add_REColoradoMLS()[pri:10, instance:Executable_Classes.Add_List@1a996ff]">Add_REColoradoMLS</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a477bf">  <td>18/12/23 16:27:04</td>   <td>111069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_List.Add_IRESMLS()[pri:11, instance:Executable_Classes.Add_List@1a996ff]">Add_IRESMLS</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a477bf">  <td>18/12/23 16:27:06</td>   <td>112456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_List.Add_StreesAddress()[pri:12, instance:Executable_Classes.Add_List@1a996ff]">Add_StreesAddress</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a477bf">  <td>18/12/23 16:27:08</td>   <td>114856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_List.Add_City()[pri:13, instance:Executable_Classes.Add_List@1a996ff]">Add_City</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a477bf">  <td>18/12/23 16:27:09</td>   <td>116261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_List.Add_Zipcode()[pri:14, instance:Executable_Classes.Add_List@1a996ff]">Add_Zipcode</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a477bf">  <td>18/12/23 16:27:12</td>   <td>118489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_List.Add_SubArea()[pri:15, instance:Executable_Classes.Add_List@1a996ff]">Add_SubArea</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a477bf">  <td>18/12/23 16:27:13</td>   <td>119631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_List.Add_calendarDate()[pri:16, instance:Executable_Classes.Add_List@1a996ff]">Add_calendarDate</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a477bf">  <td>18/12/23 16:27:15</td>   <td>122302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_List.Add_Price()[pri:17, instance:Executable_Classes.Add_List@1a996ff]">Add_Price</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a477bf">  <td>18/12/23 16:27:17</td>   <td>123548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_List.Add_ClientEmail()[pri:18, instance:Executable_Classes.Add_List@1a996ff]">Add_ClientEmail</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a477bf">  <td>18/12/23 16:27:35</td>   <td>141609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_List.Create_List()[pri:19, instance:Executable_Classes.Add_List@1a996ff]">Create_List</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a477bf">  <td>18/12/23 16:27:47</td>   <td>154163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_List.Search_List()[pri:20, instance:Executable_Classes.Add_List@1a996ff]">Search_List</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="a477bf">  <td>18/12/23 16:27:55</td>   <td>161656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Add_List.Verify_List()[pri:21, instance:Executable_Classes.Add_List@1a996ff]">Verify_List</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="bd91c0">  <td>18/12/23 16:28:06</td>   <td>172884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Logout_Application.Logout()[pri:22, instance:Executable_Classes.Logout_Application@24f84033]">Logout</td> 
  <td>main@1636165903</td>   <td></td> </tr>
<tr bgcolor="bd91c0">  <td>18/12/23 16:28:19</td>   <td>186292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Logout_Application.Close_Browser()[pri:23, instance:Executable_Classes.Logout_Application@24f84033]">Close_Browser</td> 
  <td>main@1636165903</td>   <td></td> </tr>
</table>
